@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
}
.container:hover {
  background-color: var(--color-primary-dark); 
  transform: scale(0.9);
}

.image {
   height: 180px; /* or any fixed height you prefer */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover; /* ensures image fills container without distortion */
}
.image:hover {
  background-color: var(--color-primary-dark); 
  transform: scale(0.9);
}
.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  .container {
  height: 500px; /* or desired fixed height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  list-style: none;
}

.skill {
  font-size: 14px;
  font-weight: 500;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 4px 12px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
