@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 14px;
  align-items: flex-start;
}

.skillsContainer {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
  
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.navigationButtons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.arrowButton {
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}
.arrowButton:hover {
  transform: scale(0.9);
}

.left {
  position: absolute;
  left: -25px;
}

.right {
  position: absolute;
  right: -25px;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
}

.historyItem img {
  width: 50px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}
.historyItem:hover {
  background-size: 100% 100%;
}

.resumeBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.resumeBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}
.resumeBtn:hover {
  background-color: var(--color-primary-dark); 
  transform: scale(0.9);
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skillsContainer {
    width: 100%;
  }

  .skills {
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 9px;
    
  }

  .navigationButtons {
    top: auto;
    bottom: 0;
    transform: translateY(0);
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
